# Flask Environment
FLASK_APP=run.py
FLASK_DEBUG=True
SECRET_KEY=change-this-to-a-strong-random-key-in-production
PORT=5000

# Conference Settings
CONTACT_EMAIL=gaposastconf@gmail.com

# Firebase Configuration
FIREBASE_PROJECT_ID=gaposa-sst-conf-and-journal
FIREBASE_STORAGE_BUCKET=gaposa-sst-conf-and-journal.firebasestorage.app
FIREBASE_CREDENTIALS_PATH=firebase-service-account.json

# Firebase Web / Client Configuration
FIREBASE_API_KEY=AIzaSyBE_4r1CQUjTR1bvWSS1xYbMmt_cv7XjgY
FIREBASE_AUTH_DOMAIN=gaposa-sst-conf-and-journal.firebaseapp.com
FIREBASE_MESSAGING_SENDER_ID=776095698979
FIREBASE_APP_ID=1:776095698979:web:1b0df4c6f54bda0d456196
